code/data/*

code/data/archive.zip
code/data/cifar-100-python.tar.gz
code/data/cifar-100-python/file.txt~
code/data/cifar-100-python/meta
code/data/cifar-100-python/test
code/data/cifar-100-python/train

*.pyc
*.json
.obsidian/plugins/obsidian-git/main.js
.obsidian/plugins/obsidian-git/styles.css
.obsidian/plugins/table-editor-obsidian/main.js
.obsidian/plugins/table-editor-obsidian/styles.css
*.canvas
*.pt
code/Lhy 2022ML HW/HW2 Classification/libriphone/.DS_Store
code/Lhy 2022ML HW/HW2 Classification/libriphone/feat/.DS_Store
code/Lhy 2022ML HW/HW2 Classification/libriphone/test_split.txt
code/Lhy 2022ML HW/HW2 Classification/libriphone/train_labels.txt
code/Lhy 2022ML HW/HW2 Classification/libriphone/train_split.txt
