code/data/*

code/data/archive.zip
code/data/cifar-100-python.tar.gz
code/data/cifar-100-python/file.txt~
code/data/cifar-100-python/meta
code/data/cifar-100-python/test
code/data/cifar-100-python/train

*.pyc
*.json
.obsidian/plugins/obsidian-git/main.js
.obsidian/plugins/obsidian-git/styles.css
.obsidian/plugins/table-editor-obsidian/main.js
.obsidian/plugins/table-editor-obsidian/styles.css
*.canvas
